
JWT_SECRET=
TOKEN_TTL=
REFRESH_TTL=
SERVER_PORT=

MAIL_USERNAME=
MAIL_PASSWORD=

DATABASE_URL=
DATABASE_DRIVER=
DATABASE_USERNAME=
DATABASE_PASSWORD=

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

KAFKA_BOOTSTRAP_SERVERS=
TOPIC_EMAIL_VERIFICATION=
TOPIC_USER_REGISTERED=
TOPIC_USER_LOGIN=
TOPIC_USER_PASSWORD_CHANGE=